<div class="container bg-secondary">
    <div class="row">
        <div class="center col-sm-12">
            {{!-- Insert a top burger image here --}}
            <img src="https://i.imgur.com/izk0psF.jpg?1" alt="Eat-A-Burger App" 
            class="mt-1 img-fluid img-thumbnail mx-auto" style="width: 300px;">

            <h1 class="font-weight-bolder">Eat-A-Burger</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <br>
            <h2 class="font-weight-bold">Burgers Available to Eat!</h2>
            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}
                <li class="bg-light border border-dark rounded m1-1 mb-1">
                    {{this.id}}
                    {{this.burger_name}}
                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="true">
                        <button class="btn-dark text-align-center border border-dark rounded-pill ml-3 mb-1" 
                            type="submit">Devour It!</button>
                    </form>
                </li>
                {{/unless}}
                {{/each}}
            </ul>
        </div>

        <div class="col-sm-6">
            <br>
            <h2 class="font-weight-bold">Burgers That Have Been Eaten</h2>
            {{#each burgers}}
            {{#if this.devoured}}
            <li class="bg-light rounded-pill border border-dark mt-1 mb-1">
                {{this.id}}
                {{this.burger_name}}
            </li>
            {{/if}}
            {{/each}}
        </div>
    </div>

    <div class="row">
        <div class="center col-sm-12">
            <h2 class="font-weight-bold">Add a Burger</h2>
            <form class="create-update-form" action="/" method="POST">
                <div class="form-group">
                    <p>Enter a burger you want to eat and click the 'Yum!' button.</p>
                    <input type="text" id="burgerInput" name="burger_name">
                </div>
                <button class="btn btn-lg btn-dark mb-2" type="submit">Yum!</button>
            </form>
        </div>
    </div>
</div>